.card-container {
    height: 95px;
    width: 357px;
    padding: 15px;
    background-color: #CFD1C3;
    align-content: center;
    border-radius: 12px;
    border: 6px solid #BEBFB3;
    box-sizing: border-box;
    transition: border-color 0.5s ease; 
}

.card-container:hover {
    border-color: #adada3;
    cursor: pointer;
}

.card-title {
    margin: 0px;
    padding: 0px;
    color: #76776F;
    margin-top: 5px;
    margin-bottom: 10px;
}

.bar {
    border: none;         
    height: 3px;     
    background-color: #BEBFB3;
    margin-top: 6px;
    border-radius: 1rem;
}