.my-notes {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-container {
    width: 100%;
    height: 100%;
    max-width: 423px;
    max-height: 684px;
    background-color: #8F9474;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px #10201ed8;
}

.header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 115px;
    background-color: #193330;
    display: flex;
    align-items: center;
}

.title {
    margin: 0px;
    padding: 20px;
    color: #CFD1C3;
}

.list-notes {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0px;
    gap: 2.5rem;
}

.new-note {
    width: 100%;
    height: 300px;
    background: #BEBFB3;
}

.close-button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 34px;
    height: 34px;
    border-radius: 10px;
    color: #CFD1C3;
    font-size: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin-top: 10px;
    margin-left: 380px;
    background: #A12E2E;
}

.close-button:focus {
    outline: none;
}

.top-bar-note {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    box-shadow: 0px 10px 10px #b8b9ae;
}

.title-new {
    font-size: 20px;
    color: #76776F;
    font-weight: 500;
}

.title-input {
    height: 35px;
    background: none;
    border: none;
    font-size: 30px;
    color: #76776F;
}

.description-note {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.description-new {
    font-size: 20px;
    color: #76776F;
    font-weight: 500;
}

.description-input {
    height: 35px;
    background: none;
    border: none;
    font-size: 30px;
}

.title-input:focus, .description-input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.footer {
    width: 100%;
    height: 82px;
    background-color: #5F726E;
    display: flex;
    align-items: center;
}

.description-input {
  width: 100%;
  min-height: 90px;
  resize: vertical;
  border-radius: 8px;
  font-family: inherit;
  color: #76776F;
}

.actions {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 14px;
    box-sizing: border-box;
}

.new-note-button, .delete-note-button {
    width: 154px;
    height: 54px;
    border-radius: 20px;
    color: #CFD1C3;
    font-size: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.new-note-button:focus, .delete-note-button:focus {
    outline: none;
}

.new-note-button {
    background-color: #37583D;
}

.delete-note-button {
    background-color: #A12E2E;
    margin-left: auto; 
}

.focused-button:hover {
    opacity: 85%;
}